aiohttp==3.8.1; python_version >= "3.9" and python_version < "4"
aiosignal==1.2.0; python_version >= "3.6" and python_version < "4"
async-timeout==4.0.2; python_version >= "3.6" and python_version < "4"
attrs==21.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version >= "3.5.0"
base58==2.1.1; python_full_version >= "3.6.2" and python_full_version < "3.7.0" and python_version >= "3.6" and python_version < "4" or python_full_version > "3.7.0" and python_full_version < "3.7.1" and python_version >= "3.6" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.1"
bitarray==1.2.2; python_version >= "3.6" and python_version < "4"
boto3==1.21.21; python_version >= "3.9"
botocore==1.24.21; python_version >= "3.9"
certifi==2021.10.8; python_version >= "3.6" and python_version < "4" and python_full_version >= "3.6.0" and (python_version >= "3.9" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.9")
chained-accounts==0.0.1; python_version >= "3.9"
charset-normalizer==2.0.12; python_version >= "3.6" and python_full_version >= "3.6.0" and (python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version >= "3.6.0") and (python_version >= "3.9" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.9") and python_version < "4"
clamfig==0.1.3; python_version >= "3.9"
click==8.0.4; python_version >= "3.9"
colorama==0.4.4; python_version >= "3.9" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.9" and python_full_version >= "3.5.0"
cytoolz==0.11.2; python_version >= "3.6" and python_full_version < "3.5.2" and python_version < "4" and implementation_name == "cpython" or python_full_version > "3.5.2" and python_version < "4" and python_version >= "3.6" and implementation_name == "cpython"
eth-abi==2.1.1; python_version >= "3.9" and python_version < "4"
eth-account==0.5.7; python_version >= "3.9" and python_version < "4"
eth-hash==0.3.2; python_version >= "3.9" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.5.2" and python_version < "4" or python_full_version > "3.5.2" and python_version < "4" and python_version >= "3.6")
eth-keyfile==0.5.1; python_version >= "3.6" and python_version < "4"
eth-keys==0.3.4; python_version >= "3.6" and python_version < "4"
eth-rlp==0.2.1; python_version >= "3.6" and python_version < "4"
eth-typing==2.3.0; python_version >= "3.9" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.5.2" and python_version < "4" or python_full_version > "3.5.2" and python_version < "4" and python_version >= "3.6")
eth-utils==1.10.0; python_version >= "3.9" and python_full_version < "3.5.2" and python_version < "4" or python_full_version > "3.5.2" and python_version < "4" and python_version >= "3.9"
frozenlist==1.3.0; python_version >= "3.7" and python_version < "4"
hexbytes==0.2.2; python_version >= "3.9" and python_version < "4"
idna==3.3; python_version >= "3.6" and python_full_version >= "3.6.0" and (python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version >= "3.6.0") and (python_version >= "3.9" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.9") and python_version < "4"
ipfshttpclient==0.8.0a2; python_full_version >= "3.6.2" and python_full_version < "3.7.0" and python_version >= "3.9" and python_version < "4" or python_full_version > "3.7.0" and python_full_version < "3.7.1" and python_version >= "3.9" and python_version < "4" or python_version >= "3.9" and python_version < "4" and python_full_version > "3.7.1"
jmespath==1.0.0; python_version >= "3.9"
jsonschema==3.2.0; python_version >= "3.9" and python_version < "4"
lru-dict==1.1.7; python_version >= "3.9" and python_version < "4"
multiaddr==0.0.9; python_full_version >= "3.6.2" and python_full_version < "3.7.0" and python_version >= "3.6" and python_version < "4" or python_full_version > "3.7.0" and python_full_version < "3.7.1" and python_version >= "3.6" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.1"
multidict==6.0.2; python_version >= "3.7" and python_version < "4"
netaddr==0.8.0; python_full_version >= "3.6.2" and python_full_version < "3.7.0" and python_version >= "3.6" and python_version < "4" or python_full_version > "3.7.0" and python_full_version < "3.7.1" and python_version >= "3.6" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.1"
numpy==1.22.3; python_version >= "3.10"
pandas==1.4.1; python_version >= "3.8"
parsimonious==0.8.1; python_version >= "3.6" and python_version < "4"
protobuf==3.19.4; python_version >= "3.9" and python_version < "4"
pycryptodome==3.14.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version >= "3.5.0"
pydantic==1.9.0; python_full_version >= "3.6.1" and python_version >= "3.9"
pyjwt==2.3.0; python_version >= "3.6" and python_full_version >= "3.6.0"
pyrsistent==0.18.1; python_version >= "3.7" and python_version < "4"
python-dateutil==2.8.2; python_version >= "3.9" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.9"
python-dotenv==0.19.2; python_version >= "3.9"
pytz==2021.3; python_full_version >= "3.6.0" and python_version >= "3.8"
pywin32==303; python_version >= "3.9" and python_version < "4" and platform_system == "Windows"
pyyaml==6.0; python_version >= "3.9"
requests==2.27.1; python_version >= "3.6" and python_version < "4" and python_full_version >= "3.6.0" and (python_version >= "3.9" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.9") and (python_full_version >= "3.6.2" and python_full_version < "3.7.0" and python_version >= "3.6" and python_version < "4" or python_full_version > "3.7.0" and python_full_version < "3.7.1" and python_version >= "3.6" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.1") and (python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4" or python_version >= "3.9" and python_version < "4" and python_full_version >= "3.6.0")
rlp==2.0.1; python_version >= "3.6" and python_version < "4"
s3transfer==0.5.2; python_version >= "3.9"
six==1.16.0; python_version >= "3.8" and python_version < "4" and python_full_version >= "3.6.2" and python_full_version < "3.7.0" or python_version >= "3.8" and python_version < "4" and python_full_version > "3.7.0" and python_full_version < "3.7.1" or python_version >= "3.8" and python_version < "4" and python_full_version > "3.7.1"
tabulate==0.8.9
telliot-core==0.1.3; python_version >= "3.9"
telliot-feed-examples==0.0.13; python_version >= "3.9"
toolz==0.11.2; python_version >= "3.5"
twilio==7.7.1; python_full_version >= "3.6.0"
typing-extensions==4.1.1; python_full_version >= "3.6.1" and python_version >= "3.9"
urllib3==1.26.9; python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6" and (python_version >= "3.9" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.9") and (python_version >= "3.9" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.9")
varint==1.0.2; python_full_version >= "3.6.2" and python_full_version < "3.7.0" and python_version >= "3.6" and python_version < "4" or python_full_version > "3.7.0" and python_full_version < "3.7.1" and python_version >= "3.6" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.1"
web3==5.28.0; python_version >= "3.6" and python_version < "4"
websockets==9.1; python_version >= "3.9" and python_version < "4" and python_full_version >= "3.6.1"
yarl==1.7.2; python_version >= "3.6" and python_version < "4"
