# Per:
# https://packaging.python.org/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/
# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

name: Publish

on:
  release:
    types: [published, released]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build and publish to pypi
        if: "github.event.release.prerelease"
        uses: JRubics/poetry-publish@v1.16
        with:
          repository_name: "testpypi"
          repository_url: "https://test.pypi.org/legacy/"
          python_version: "3.9.5"
          pypi_token: ${{ secrets.TELLOR_DISPUTABES_TEST_PYPI_API_TOKEN }}
      - uses: actions/checkout@v2
      - name: Build and publish to pypi
        uses: JRubics/poetry-publish@v1.16
        with:
          python_version: "3.9.5"
          pypi_token: ${{ secrets.TELLOR_DISPUTABES_PYPI_API_TOKEN }}