---
name: typing

on:
  push:
    branches: ["dvm-main", "auto-disputer-main", "main"]
  pull_request:
    branches: ["dvm-main", "auto-disputer-main", "main"]
  workflow_dispatch:

jobs:
  docs:
    name: "Typing enforcement on Python ${{ matrix.python-version }}"
    runs-on: "ubuntu-latest"

    strategy:
      matrix:
        python-version: ["3.9"]
        poetry-version: ["1.3.1"]

    steps:
      - uses: "actions/checkout@v2"
      - uses: "actions/setup-python@v2"
        with:
          python-version: "${{ matrix.python-version }}"      
      - name: Setup poetry
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: "Install dependencies"
        run:
          poetry env use 3.9 && poetry install
      - name: "Run poetry typing on ${{ matrix.python-version }}"
        run:
          poetry run mypy --strict src --implicit-reexport --ignore-missing-imports --disable-error-code misc